@model SoftwareTestingCore.Models.UserViewModel

@{
    ViewData["Title"] = "Test Sign Up";

    if (Model.notification == 1)
    {
        // fail
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Sign up unsuccessful!</strong> You should check the errors below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if (Model.notification == 2)
    {
        // success
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> You have successfully created an account!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}


<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is a software testing project to perform unit testing on a web app. Create an account with us today! </p>
    <hr class="my-4">


    <form asp-controller="Home" asp-action="Index" style="max-width:750px;">
        <div class="form-group">
            <label for="firstname">First Name (*)</label>
            <input type="text" class="form-control" id="firstname" asp-for="@Model.user.FirstName" placeholder="Enter first name">
            <span asp-validation-for="user.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name (*)</label>
            <input type="text" class="form-control" id="lastname" asp-for="@Model.user.LastName" placeholder="Enter last name">
            <span asp-validation-for="user.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" asp-for="@Model.user.Phone" placeholder="Enter phone number">
            <span asp-validation-for="user.Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="email">Email (*)</label>
            <input type="email" class="form-control" id="email" asp-for="@Model.user.Email" placeholder="Enter email">
            <span asp-validation-for="user.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="password">Password (*)</label>
            <input type="password" class="form-control" id="password" asp-for="@Model.user.Password" placeholder="Enter password">
            <span asp-validation-for="user.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="passwordconfirm">Confirm Password (*)</label>
            <input type="password" class="form-control" id="passwordconfirm" asp-for="@Model.user.PasswordConfirm" placeholder="Confirm password">
            <span asp-validation-for="user.PasswordConfirm" class="text-danger"></span>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="checkbox" asp-for="@Model.user.WantsEmails">
            <label class="form-check-label" for="exampleCheck1">Sign up for our emails</label>
        </div>
        <small class="form-text text-muted">We'll never share your information with anyone else.</small>
        <div style="height:25px"></div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>

